In [1]:
1+1

2

In [1]:
a=9

In [2]:
a

9

In [3]:
del(a)

In [4]:
a

NameError: name 'a' is not defined

In [5]:
a=9

In [6]:
a

9

In [7]:
A=4

In [9]:
a=9
print(id(a))
print(id(A))

2816499083824
2816499083664

In [12]:
A=6
print(id(A))

2816499083728

'''the problem is not prob'''

In [13]:
#this is not a code ok

In [17]:
a=5
A=2
c=8
print(A)
print(a)
print(c)

2
5
8

In [22]:
a=5
print(a)
b=3
print(b)
b=8
print(b)
A=2
print(A)
print(b)
print(a+b)
A

5
3
8
2
8
13

2

In [20]:
A=20
A

20

In [23]:
b

8

In [24]:
a+b

13

In [29]:
A=2
print(A)

print(b)
A=b
A

2
8

8

In [30]:
A
b

8

In [31]:
print(A)
print(b)

8
8

In [34]:
a=6
b=3
c=7
Print(a)

NameError: name 'Print' is not defined

In [37]:
a=6
b=3
c=7
print(a),print(b),print(c)

6
3
7

(None, None, None)

In [42]:
a=6
b=3
c=7
print(a,b,c),print(b,a,c),print(c-5,a/2,b*3)

6 3 7
3 6 7
2 3.0 9

(None, None, None)

In [9]:
list=['Prakash','akash','tai',1,2,3,4,[88,55,66,22,66,33,66,66,66,],5,6,7,8,9]

In [4]:
print(list)

['Prakash', 'akash', 'tai', 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [13]:
print(list[7])

[88, 55, 66, 22, 66, 33, 66, 66, 66]

In [5]:
list3=[1,2,3,54,5,6,8,6,4,3,5,3,5,6,2,6,'2ksa','sal','Prakash','Akash','don']

In [8]:
print(list3[5][6])

TypeError: 'int' object is not subscriptable

In [ ]:
print(list)

In [12]:
a=[1,2,3,4,5,6,"don",'just','don']
b=a[:2]
c=a[:2]
print(a)
print(b)
print(c)
del(a[0:2])
print(a)

[1, 2, 3, 4, 5, 6, 'don', 'just', 'don']
[1, 2]
[1, 2]
[3, 4, 5, 6, 'don', 'just', 'don']

In [22]:
list=[2011,2012,2013,2014,2015,2016,2017,[9,2,5,6,['a','b','c'],],]
print(list)

[2011, 2012, 2013, 2014, 2015, 2016, 2017, [9, 2, 5, 6, ['a', 'b', 'c']]]

In [26]:
list[7][4][1]='don'
print(list)

[2011, 2012, 2013, 2014, 2015, 2016, 2017, [9, 2, 5, 6, ['a', 'don', 'c']]]

In [28]:
list1=[1,2,3,4,5,6,7,8,9,10,]
print(id(list1))
print(list1)
list1=[1,2,3,4,5,6,87,9,6,2,6]
print(id(list1))

1646675797888
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
1646675990336

# list1=[1,2,3,4,5,6,7,[8,9,10],[45554,2222,5555]]
print(id(list1))
list[7][1]=2
print(list1)
print(id(list1))

In [34]:
list1=[1,2,3,4,5,6,7,[8,9,10],[45554,2222,5555]]
print(id(list1))
list1=[1,2,3,4,5,6,87,9,6,2,6]
print(id(list1))

1646677259520
1646677315520

In [1]:
python=4
print(python)

4

In [2]:
A=4
print(id(A))
A

1987968461200

4

In [3]:
b='python'
print(b)
type(b)

python

str

In [4]:
print(type(b))

<class 'str'>

In [6]:
A=5x
type(A)

SyntaxError: invalid syntax (571461138.py, line 1)

In [9]:
a=False
b='False'
C
print(type(a))
print(type(b))

<class 'bool'>
<class 'str'>

In [15]:
a=1
print('''a'')

SyntaxError: invalid syntax (3633736925.py, line 2)

In [17]:
a=5+x
print(a)

NameError: name 'x' is not defined

In [21]:
a=R

NameError: name 'R' is not defined

In [20]:
print(type(a))

<class 'str'>

In [24]:
a='R9'
print(a)

R+9

In [26]:
print(type(a))

<class 'str'>

In [27]:
a=R
print(a)

NameError: name 'R' is not defined

In [31]:
a='6x'
b="2R"
c=b+a
print(c)

2R6x

In [32]:
print('data science')

data science

In [36]:
a=5.6
b=5
c=a+b
print(c)
print(c,type(c))

10.6
10.6 <class 'float'>

In [37]:
print(true)

NameError: name 'true' is not defined

In [43]:
C=a+True
print(C+True)
print(type(c))

7.6
<class 'float'>

In [44]:
6j+8j

14j

In [45]:
8-2*True

6

In [46]:
6+"True"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [48]:
TRUE=55
a=TRUE
a

55

In [53]:
9//5

1

In [54]:
ni.pi

NameError: name 'ni' is not defined

In [56]:
5e+6j

5000000j

In [58]:
4e-5

4e-05

In [61]:
a='+91'
print(a)

+91

In [65]:
b=8446681267

In [67]:
c=a+" "+b

TypeError: can only concatenate str (not "int") to str

In [76]:
a='123456789123456789'
b='123654789963258741'

In [77]:
a +' '+ b[:2] +' '+ b[:3]

'123456789123456789 12 123'

# 2022/07/28_1_list  1.1_listID of LIst

In [38]:
list1=[12,13,45,56,78,89]
list2=[22,313,5645,556,678,589]
list3=[22,313,5645,556,678,589]
print(list1+list2+list3)
print(list1,list2,list3)

[12, 13, 45, 56, 78, 89, 22, 313, 5645, 556, 678, 589, 22, 313, 5645, 556, 678, 589]
[12, 13, 45, 56, 78, 89] [22, 313, 5645, 556, 678, 589] [22, 313, 5645, 556, 678, 589]

In [45]:
list1=(1,2,3,'Prakash1')
list1.

AttributeError: 'tuple' object has no attribute 'remove'

In [51]:
list1=[12,13,45,56,78,89,'pra']
list1.remove(12)
print(list1)
list1.remove('pra')

print(list1
     )

[13, 45, 56, 78, 89, 'pra']
[13, 45, 56, 78, 89]

In [58]:
list1=[12,13,45,56,78,89,'pra']
list1.remove(12)
print(list1)
list1.remove('pra')
list1.remove(list1[3])

print(list1)

[13, 45, 56, 78, 89, 'pra']
[13, 45, 56, 89]

In [69]:
list1=['Pra','AKA',22,33,55,55,66,88,99,77,88,22,656532,'Pra']
print(list1)
list1.remove(list1[13])
print(list1)

['Pra', 'AKA', 22, 33, 55, 55, 66, 88, 99, 77, 88, 22, 656532, 'Pra']
['AKA', 22, 33, 55, 55, 66, 88, 99, 77, 88, 22, 656532, 'Pra']

In [ ]:
listA=['A','AB','AC''AC',]

#Append

In [ ]:
alist[123,'XYZ',"ABCD"ASDD]
print(alist)
alist.

# append=To add element to element

In [80]:
alist=[123,'XYZ','ASDF']
print(alist)
alist.append('abch')
print(alist)

[123, 'XYZ', 'ASDF']
[123, 'XYZ', 'ASDF', 'abch']

# pop = to remove element in list 

a=[1,2,3,4,5,6,8,96,5,4]
print(a)
a.pop()
print(a)

In [82]:
list1=['Pra','AKA',22,33,55,55,66,88,99,77,88,22,656532,'Pra']
list1.pop(2)
print(list1)

['Pra', 'AKA', 33, 55, 55, 66, 88, 99, 77, 88, 22, 656532, 'Pra']

# insert to ADD THE element to the perticular location

In [86]:
birth_year=['9_dec']
print(birth_year)
birth_year.insert(1,2022)
print(birth_year)

['9_dec']
['9_dec', 2022]

In [91]:
birth_pLace=["Naldurg","usmanabad","India"]
print(birth_pLace)
print(id(birth_pLace))
birth_pLace.insert(3,"Ashiya")
print(birth_pLace)
print
print(id(birth_pLace))

['Naldurg', 'usmanabad', 'India']
1646686612672
['Naldurg', 'usmanabad', 'India', 'Ashiya']
1646686612672

# Extend to join 2 elements

In [103]:
list1=['Pra','AKA',22,33,55,55,66,88,99,77,88,22,656532,'Pra']
print(list1)
list1.extend(list2)
print(list2)
list2.extend([456,"Prakash"])
print(list2)
list1.append(list2)

['Pra', 'AKA', 22, 33, 55, 55, 66, 88, 99, 77, 88, 22, 656532, 'Pra']
[22, 313, 5645, 556, 678, 589, 'Pra', 'AKA', 22, 33, 55, 55, 66, 88, 99, 77, 88, 22, 656532, 'Pra', 22, 313, 5645, 556, 678, 589, 'Pra', 'AKA', 22, 33, 55, 55, 66, 88, 99, 77, 88, 22, 656532, 'Pra', 22, 313, 5645, 556, 678, 589, 'Pra', 'AKA', 22, 33, 55, 55, 66, 88, 99, 77, 88, 22, 656532, 'Pra', 22, 313, 5645, 556, 678, 589, 456, 'Prakash', 456, 'Prakash']
[22, 313, 5645, 556, 678, 589, 'Pra', 'AKA', 22, 33, 55, 55, 66, 88, 99, 77, 88, 22, 656532, 'Pra', 22, 313, 5645, 556, 678, 589, 'Pra', 'AKA', 22, 33, 55, 55, 66, 88, 99, 77, 88, 22, 656532, 'Pra', 22, 313, 5645, 556, 678, 589, 'Pra', 'AKA', 22, 33, 55, 55, 66, 88, 99, 77, 88, 22, 656532, 'Pra', 22, 313, 5645, 556, 678, 589, 456, 'Prakash', 456, 'Prakash', 456, 'Prakash']

In [108]:
alist=[1,2,3,4]
blist=["A","a","Prakash"]
alist.append(blist)
print(alist)
alist.extend(blist)
print(alist)

[1, 2, 3, 4, ['A', 'a', 'Prakash']]
[1, 2, 3, 4, ['A', 'a', 'Prakash'], 'A', 'a', 'Prakash']

# Reverse to reverse the list from last to first

In [114]:
My_name=['Bansode' ,'Prakash' ,'Govind']
My_name.reverse()
print(My_name)

['Govind', 'Prakash', 'Bansode']

# Sort assending Dessending

In [121]:
city=['latur','pune','utsunomiya','delhi','gurugao',"saitama"]
print(city)
city.sort(reverse=False)
print(city)

['latur', 'pune', 'utsunomiya', 'delhi', 'gurugao', 'saitama']
['delhi', 'gurugao', 'latur', 'pune', 'saitama', 'utsunomiya']

# 2022/08/01

In [1]:
tup=('s','sa','ga')
tup2=(11,22,33)
print(tup)
print(tup2)
tup=(22,50,33)
tup2=("at","root")
print(tup)
print(tup2)

('s', 'sa', 'ga')
(11, 22, 33)
(22, 50, 33)
('at', 'root')

In [4]:
print(tup2)

('at', 'root')

In [1]:
print("whatsapp grp")

whatsapp grp

# https://chat.whatsapp.com/Cnz53x0k22CLNtjxdl6XBY

In [9]:
tup=(1,2,3,4,'basic','my','name','is','X')
len(tup)

9

In [11]:
tup.index('basic')

4

In [8]:
a=(1,2,3,4,5,6,7,)
b=a*4
print(b)

(1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7)

In [13]:
tuple=(465,700,200,58)
print(max(tuple))
print(min(tuple))

700
58

In [16]:
tuple=('a','b','w','c','w','r','d,'e','e','t')
print(max(tuple))
print(min(tuple))

SyntaxError: invalid syntax (851785483.py, line 1)

In [28]:
tuple1('A','b','W','W','r','d,'e','e','t')
print(max(tuple1)
print(min(tuple1)

SyntaxError: invalid syntax (1689413691.py, line 1)

# Dictonary #  1.always courly bracket key 
#2.save the value for perticular set

In [22]:
a={"Name":"Prakash", "Age":22, "Native":"India", "Working":"Japan"}
print(a)

{'Name': 'Prakash', 'Age': 22, 'Native': 'India', 'Working': 'Japan'}

In [24]:
print(type(a))

<class 'dict'>

In [27]:
age=(22,44,55,66,33,11,44,55,)
Name=("prakash","Akash","tai")
dict1={Name:tuple(2)}
print(dict1)

TypeError: 'tuple' object is not callable

In [33]:
a={'name':'Prakash','age':22}
a
print(a['name'])
print(a['age'])

Prakash
22

In [38]:
print(a.keys())
print(a.values())
print(a.items())
print(a[i])

dict_keys(['name', 'age'])
dict_values(['Prakash', 22])
dict_items([('name', 'Prakash'), ('age', 22)])

NameError: name 'i' is not defined

In [45]:
Dict = {'Name': 'Tokyo', age: {1, 2, 3, 4}}
Dict['Name']['age']

TypeError: string indices must be integers

In [ ]:
#family Tree
#geek grand parents
#having 3 kinds C1, D1, E1 married with C2 D2 E4

In [51]:
fam_tree={'Grandpa_Grandma':'Gov_KAV':{'Prakash_Ash', 'Akash'},'Sri_Anu':{'Siddrath','Ritu'},'Muk_maha':{'Rahul','Pooja'}

SyntaxError: invalid syntax (68249179.py, line 1)

In [52]:
family_tree['Grandpa_Grandma']

NameError: name 'family_tree' is not defined

In [ ]:
Family_tree={}

In [55]:
Fam_tree={}
print(dict)

{}

In [1]:

family_tree={'LAXMAN_Sojer':{'Govind_Kavita':{'Prakash_Ash','Akash'},
                             'Mukind_mahananda':{'Rahul_X','Pooja_X'},
                             'Sridhar_Anuja':{'Ritu,Siddarth'}}}
print(family_tree)

{'LAXMAN_Sojer': {'Govind_Kavita': {'Akash', 'Prakash_Ash'}, 'Mukind_mahananda': {'Pooja_X', 'Rahul_X'}, 'Sridhar_Anuja': {'Ritu,Siddarth'}}}

In [2]:
print(family_tree['LAXMAN_Sojer']['Govind_Kavita'])

{'Akash', 'Prakash_Ash'}

# 2022/08/02

In [3]:
dict={'fruit':{'mango','banana'},'byk':{'yahama','Bullet'},
      'village':{'pune','mumbai',}}
print(dict)

{'fruit': {'mango', 'banana'}, 'byk': {'Bullet', 'yahama'}, 'village': {'mumbai', 'pune'}}

In [10]:
dict={'fruit':{'mango','banana'},'byk':{'yahama','Bullet'},
      'village':{'pune','mumbai',}}
print(dict)

{'fruit': {'mango', 'banana'}, 'byk': {'Bullet', 'yahama'}, 'village': {'mumbai', 'pune'}}

In [12]:
dict.clear()
print(dict)

{}

# set

In [15]:
animal={'dog','cat','lion','tiger'}
print('first input:',animal)
animal

first input: {'dog', 'lion', 'cat', 'tiger'}

In [24]:
set1=set()
print(set1)
set1.add((8,2,3,4,6,5,8))
print(set1)

set()
{(8, 2, 3, 4, 6, 5, 8)}

In [37]:
days=['mon','tue','wen','thu','fri','sat','sun']
print( days)
days_1=set(days)
print('set',days_1)
days_2=list(days_1)
print( 'list_1' ,days_2)

['mon', 'tue', 'wen', 'thu', 'fri', 'sat', 'sun']
set {'mon', 'tue', 'sun', 'sat', 'thu', 'wen', 'fri'}
list_1 ['mon', 'tue', 'sun', 'sat', 'thu', 'wen', 'fri']

In [38]:
days=set(['mon','tue','wed'])
days

{'mon', 'tue', 'wed'}

In [43]:
weekdays=set(['mon','tue','wed',])
month=set(['jan','feb','mar','apr','june'])
print(weekdays)
print(month)

{'tue', 'mon', 'wed'}
{'jan', 'june', 'apr', 'mar', 'feb'}

In [44]:
print(days)

{'tue', 'mon', 'wed'}

In [53]:
for d in month:
    print(d, end=' ')

jan june apr mar feb

In [59]:
print(d
     )

feb

In [58]:
print(d)

feb

In [60]:
print(days)

{'tue', 'mon', 'wed'}

In [73]:
days=set(['mon','tue','wed','Thu','Fir','sat'])
days.add('sun')
days.add('mon1')
print(days)

{'mon1', 'tue', 'Thu', 'wed', 'sat', 'sun', 'Fir', 'mon'}

In [74]:
days=set(['mon','tue','wed','Thu','Fir','sat'])
days.discard('mon')
days.add('mon1')
print(days)

{'mon1', 'tue', 'Thu', 'wed', 'sat', 'Fir'}

In [75]:
days=set(['mon','tue','wed','Thu','Fir','sat'])
days.remove('mon')
days.add('mon1')
print(days)

{'mon1', 'tue', 'Thu', 'wed', 'sat', 'Fir'}

# 2022/08/03

In [7]:
daysA=set(['mon','tue','wed','thu','fri','sat'', sun'])
weekdays=set(['mon','tue','wed','thu','fri'])
week=daysA | weekdays
print(week)

{'mon', 'tue', 'wed', 'sat, sun', 'fri', 'thu'}

In [1]:
print(daysA.union(weekdays))
print(weekdays.union(daysA))

NameError: name 'daysA' is not defined

In [17]:
A={1,2,3,4,5,6,7,8}
B={5,6,7,8,9}
C={5,7,8,9,4,1,2,11,5,55,566,22,44,65,}
D=A|B|C
E=A&B&C
print(D,E)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 65, 11, 22, 44, 566, 55} {8, 5, 7}

# Intersection

In [24]:
AAA= set(['aa','bb',])
PPP= set(['kk','dd','aa'])

In [25]:
alldays = AAA & PPP
print(alldays)

{'aa'}

In [27]:
print(A^B^C)

{65, 5, 3, 7, 8, 11, 44, 566, 55, 22}

In [33]:
print(A.symmetric_difference(B))
print(A^B^C)

{1, 2, 3, 4, 9}
{65, 5, 3, 7, 8, 11, 44, 566, 55, 22}

In [45]:
A={1,2,3,4,5,6,7,8,9}
B={1,2,3,4,5,6,4,7,8,9,4,5,6,1,3}

print(A^B)

set()

In [56]:
C={1,2,3,4,5,6,7,8,9,11,22,33,44,55,66,77,88,99}
D={55,66,44,77,88,99,55,63,66,44,}
E={55,66,44,88,99,22,33,55,66}
A.intersection_update(C,D,E,)


print(A^D)
print(A^B^C^D^E)
print(A)

{66, 99, 55, 88, 44, 77, 63}
{66, 99, 11, 44, 55, 88, 63}
set()

In [53]:
DaysA=set(['Saturday','Sunday','Monday','Monday','Tuesday'])
DaysB=set(['Monday','Tuesday'])
All_days=DaysA-DaysB
All_daysK=DaysB-DaysA
print(All_days)
print(All_daysK)
DaysA.symmetric_difference_update(DaysB)
print(DaysA)
print(DaysB)

{'Sunday', 'Saturday'}
set()
{'Sunday', 'Saturday'}
{'Monday', 'Tuesday'}

# Super_Set Sub SET

In [57]:
#compare the sets

DaysA=set(['Saturday','Sunday','Monday','Monday','Tuesday'])
DaysB=set(['Monday','Tuesday'])
print(DaysA>DaysB)
print(DaysA<DaysB)
print(DaysB<DaysA)

True
False
True

In [60]:
a={'independence'}
print(a)
a=set('independence')
print(a)

{'independence'}
{'i', 'p', 'n', 'd', 'c', 'e'}

In [14]:
a=[1,2,3,4,5,6,8,9,1,2,3,4,5,6,7,8,9,1,3,1,2,1,2]

for i in a:
    if (i==8) | (i==3):
        a.remove(i)
print(a)

[1, 2, 4, 5, 6, 9, 1, 2, 4, 5, 6, 7, 9, 1, 1, 2, 1, 2]

In [9]:
A=[1,2,3,4,5,6,7,8,9]
print(A)
C=A.copy()
for i in A:
    if (i==1) | (i==3):
        C.remove(i)

print(C)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 4, 5, 6, 7, 8, 9]

# 2022/08/04

In [19]:
a=[1,2,3,4,5,6,7,8,91,2,3,5,6,1,65,3,4,65,6,1,2,3,54,6,3,546,]
b=[1,3,4,5,6,7]
c=[i for i in a if i not in b]
print(c)

[2, 8, 91, 2, 65, 65, 2, 54, 546]

In [39]:
a=[1,2,3,4,5,6,7,8,98,92,2,3,6,2,3,5,3,2,3,2,3,2,3,2,3,2,3,2]
b=[]
for i in range(len(a)):
    if a[i]==2:
        b.append(i)
b

[1, 10, 13, 17, 19, 21, 23, 25, 27]

In [44]:
a=[11,22,33,11,22,33,44,55,66,77,88,99,11,22,33,44,55,66,77,88,99,11,22,33,44]
b=[]
for i in range(len(a)):
    if a[i]==(22):
        b.append(i)
b

[1, 4, 13, 22]

In [51]:
DS='PRAKASHGOVINDBANSODE'
print('indexing')
for i in range(len(DS)):
    print(i, DS[i])

indexing
0 P
1 R
2 A
3 K
4 A
5 S
6 H
7 G
8 O
9 V
10 I
11 N
12 D
13 B
14 A
15 N
16 S
17 O
18 D
19 E

In [54]:
DS=['prakash','Akash','Tai' ]
print("index")
for I in enumerate(DS):
    
    print(I)

index
(0, 'prakash')
(1, 'Akash')
(2, 'Tai')

In [53]:
# create a list of subjects
data = ["java", "python", "HTML", "PHP"]
 
 
print("Indices and values in list:")
 
# get the indices and values using enumerate method
for i in enumerate(data):
    print(i)

Indices and values in list:
(0, 'java')
(1, 'python')
(2, 'HTML')
(3, 'PHP')

In [80]:
a=[2,2,3,2,5,6,2,5,6,2]
print(a)
b=[]
for i in a:
    if(i==2):

IndentationError: expected an indented block (1976950613.py, line 6)

In [55]:
c=[1,8,5,2,4,1,2,5,8,7,9,2,5,3]
count = -1
idlist=[]
for i in c:
    count = count+1
    if i==2:
        idlist.append(count)
print(idlist)

[3, 6, 11]

In [105]:
a=[2,2,3,5,6,1,4,3,1,2,7]
oddlist=[]
for i in a:
    if i%2!=0:
        oddlist.append(i)
oddlist

[3, 5, 1, 3, 1, 7]

In [ ]:
#perfect squre between 0 to 1000 that are divisible 3 and 9

In [ ]:
start, end = 1, 1000

In [ ]:
print('perfect squre between 0 to 1000 that are divisible 3 and 9')

In [67]:
for num in range(start , end +1):
    if num / num=1:
        print(num, end="")

SyntaxError: invalid syntax (3870301245.py, line 2)

In [69]:
a=[start, end = 2,1000]
print(a)

SyntaxError: invalid syntax (3614955184.py, line 1)

In [70]:
a=[range(1,1000)]
print(a)

[range(1, 1000)]

In [123]:
for A in range(2,35):
    B=(A*A)
    C=[]
    if B%3== 0 | B%9== 0:
        C.append(B)
        print(C)

[9]
[36]
[81]
[144]
[225]
[324]
[441]
[576]
[729]
[900]
[1089]

In [125]:
6*6

36

In [34]:
a in range (1,1000):
    for i in a:
        if ((i*i)%3==0) & ((i*i)%9==0) & ((i*i)<=1000):
            a.append(i*i)
a

SyntaxError: invalid syntax (2051047396.py, line 1)

In [41]:
dict_2={'list_1' : list(range(0,3)),'list_2':list(range(3,6)),'list_3':list(range(6,9))}
dict_2

{'list_1': [0, 1, 2], 'list_2': [3, 4, 5], 'list_3': [6, 7, 8]}

In [50]:
for i in dict_2.values():
    print (i[1])

1
4
7

In [59]:
dict_2={'list_1' : list(range(0,6)),
        'list_2':list(range(6,11)),
        'list_3':list(range(11,16)),
        'list_4':list(range(16,21))
       ,
        'list_5':list(range(21,26))}
dict_2


#call for 0,7,13,19,25

{'list_1': [0, 1, 2, 3, 4, 5],
 'list_2': [6, 7, 8, 9, 10],
 'list_3': [11, 12, 13, 14, 15],
 'list_4': [16, 17, 18, 19, 20],
 'list_5': [21, 22, 23, 24, 25]}

In [58]:
for i in dict_2.values():
    print(i[1])

1
7
12
17
22

In [111]:
for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [95]:
A is int
for B in range(A, 1000, *A)
print(B)

SyntaxError: invalid syntax (3807248405.py, line 2)

In [96]:
for x in range(2, 30, 3):
  print(x)

2
5
8
11
14
17
20
23
26
29

In [5]:
def len_nested(a):
    count=0
    for i in a:
        if type(i)==list:
            count+=len_nested(i)
            else:
                count+=1
        return count

SyntaxError: invalid syntax (264879282.py, line 6)

# 20220608

In [35]:
alist=['Zara','abc',[123,321,455,['nkiller','GJSJ','JKSJKS','JSKjks'],654,789,987],'KIller']

In [39]:
def len_nested(a):
    count=0
    for i in a:
        if type(i)==list:
            count+=len_nested(i)
        else:
                count+=1
    return count

In [37]:
len_nested(alist)

13

In [11]:
def TO_count(A):
    count=0
    for i in A :
        if type(i)==list:
            count+=TO_count(i)
        else:
                count+=1
    return count

In [12]:
TO_count(alist)

NameError: name 'alist' is not defined

In [15]:
for a in range (1,30):
    print(a*7)

7
14
21
28
35
42
49
56
63
70
77
84
91
98
105
112
119
126
133
140
147
154
161
168
175
182
189
196
203

In [20]:
sroot=[]
for i in range(1,100000):
    if (i**0.5)%5==0:
        sroot.append(i**0.5)
print(sroot)

[5.0, 10.0, 15.0, 20.0, 25.0, 30.0, 35.0, 40.0, 45.0, 50.0, 55.0, 60.0, 65.0, 70.0, 75.0, 80.0, 85.0, 90.0, 95.0, 100.0, 105.0, 110.0, 115.0, 120.0, 125.0, 130.0, 135.0, 140.0, 145.0, 150.0, 155.0, 160.0, 165.0, 170.0, 175.0, 180.0, 185.0, 190.0, 195.0, 200.0, 205.0, 210.0, 215.0, 220.0, 225.0, 230.0, 235.0, 240.0, 245.0, 250.0, 255.0, 260.0, 265.0, 270.0, 275.0, 280.0, 285.0, 290.0, 295.0, 300.0, 305.0, 310.0, 315.0]

In [27]:
print(625**0.5
     )

25.0

In [1]:
a=np.array([1,2,3],
          [4,5,6],
          [7,8,9])
a

NameError: name 'np' is not defined

In [2]:
np.arange(16,-1,-1)

NameError: name 'np' is not defined

In [3]:
basket=[1,2,3,4,56,6,5,8,6,]
print(len(basket))

9

In [32]:
#add
basket.add(['pen'])
print(basket)

AttributeError: 'list' object has no attribute 'add'

In [31]:
basket.extend('pen')

In [42]:
basket=['a','b', 'x' ,'c','d','e','f']

new_basket=basket[:]

In [46]:


print(new_basket)
new_basket.sort()
print(new_basket)
basket.reverse()
print(basket)

['a', 'b', 'c', 'd', 'e', 'f', 'x']
['a', 'b', 'c', 'd', 'e', 'f', 'x']
['f', 'e', 'd', 'c', 'x', 'b', 'a']

In [47]:
print(len(basket))

7

In [49]:
print(basket[::-1])
print(basket)

['a', 'b', 'x', 'c', 'd', 'e', 'f']
['f', 'e', 'd', 'c', 'x', 'b', 'a']

In [52]:
print(list(range(1,100)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [ ]:
''.join()

In [60]:

WHat_NAME=' '.join(['my', 'name' ,'is' ,'Prakash'])
print(WHat_NAME)

my name is Prakash

In [ ]:
#list UNPACKING

In [69]:
a,b,c,= [1,2,3]

In [70]:
print(a)

1

In [71]:
a=None
print(a)

None

In [ ]:
#Dictonary

In [74]:
dictonary={
    'a':1,
    'b':2,
    'X':3
}

print(dictonary)

{'a': 1, 'b': 2, 'X': 3}

In [90]:
#fix this code so that it prints a sorted list of all of our friends (alphabetical). Scroll to see answer


friends = ['Simon', 'Patty', 'Joy', 'Carrie', 'Amira', 'Chu']

new_friend = ['Stanley']
friends.extend(new_friend)
print(sorted(friends))

['Amira', 'Carrie', 'Chu', 'Joy', 'Patty', 'Simon', 'Stanley']

In [91]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

car.clear()

print(car)

{}

In [93]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.copy()

print(x)
print(car.)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [94]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.get("model")

print(x)

Mustang

In [95]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.items()

print(x)

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

In [96]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.keys()

print(x)

dict_keys(['brand', 'model', 'year'])

In [100]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

car.pop("year")

print(car)

{'brand': 'Ford', 'model': 'Mustang'}

In [101]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.values()

print(x)

dict_values(['Ford', 'Mustang', 1964])

In [109]:
#Scroll down to see the answers!
#1 Create a user profile for your new game. This user profile will be stored in a dictionary with keys: 'age', 'username', 'weapons', 'is_active' and 'clan'

#2 iterate and print all the keys in the above user.

#3 Add a new weapon to your user

#4 Add a new key to include 'is_banned'. Set it to false

#5 Ban the user by setting the previous key to True

#6 create a new user2 my copying the previous user and update the age value and username value. 




#Solutions:
#1 Create a user profile for your new game. This user profile will be stored in a dictionary with keys: 'age', 'username', 'weapons', 'is_active' and 'clan'
user = {
    'age': 22,
    'username': 'Shogun',
    'weapons': ['katana', 'shuriken'],
    'is_active': True,
    'clan': 'Japan'
 }

#2 iterate and print all the keys in the above user.
print(user.keys())
#3 Add a new weapon to your user
user['weapons'].append('shield')
print(user)

#4 Add a new key to include 'is_banned'. Set it to false
user.update({'is_banned': False}) 
print(user)

#5 Ban the user by setting the previous key to True
user['is_banned'] = True
print(user)

#6 create a new user2 my copying the previous user and update the age value and username value. 
user2 = user.copy()
user2.update({'age': 100, 'username': 'Timbo'})
print(user2)

dict_keys(['age', 'username', 'weapons', 'is_active', 'clan'])
{'age': 22, 'username': 'Shogun', 'weapons': ['katana', 'shuriken', 'shield'], 'is_active': True, 'clan': 'Japan'}
{'age': 22, 'username': 'Shogun', 'weapons': ['katana', 'shuriken', 'shield'], 'is_active': True, 'clan': 'Japan', 'is_banned': False}
{'age': 22, 'username': 'Shogun', 'weapons': ['katana', 'shuriken', 'shield'], 'is_active': True, 'clan': 'Japan', 'is_banned': True}